@import "../../scss/variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/utilities";

// Sections
@import "../../common/navigation/navigation.scss";
@import "../../common/sections/master-head.scss";
@import "src/common/pagination/pagination-buttons.scss";
@import "../../common/footer/footer.scss";

container {
    padding: 2rem 0rem;
}

add-item-container {
    padding-top: 20px;
}

copyright-footer {
    text-align: center;
    font-size: 0.9rem;
    background-color: #212529;
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    flex-shrink: 0;
}

bicycles-and-accessories {
    th {
        vertical-align: middle;
        text-align: center;
    }
}

header.master-head {
        background-image: url("../../../assets/images/forest-dark.jpeg");
}
