<div class="col-md-4 pl-20 item-fields">
  <img src="../../../assets/images/bicycles/mobius-sl.jpg" class="img-fluid py-3"/>
  <form>
    <div class="form-group py-3">
      <div class="row">
        <label for="itemPhotoForm">Upload the item photo</label>
      </div>
      <div class="row">
        <input type="file" class="form-control-file" id="itemPhotoForm"/>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
  <!--<form>
    <div class="form-group">
      <div class="row">
        <label for="itemName">Name</label>
      </div>
      <div class="row">
        <input type="text" class="form-control" id="itemName" placeholder="Enter item name">
      </div>
    </div>
    <div class="row">

      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group pt-3">
      <div class="row">
        <label for="description">Description</label>
      </div>
      <div class="row">
        <textarea class="form-control" id="description" rows="4"></textarea>
      </div>
    </div>
    <div class="form-group pt-3">
      <div class="row">
        <label for="pricePerHour">Price</label>
      </div>
      <div class="row">
        <input type="text" class="form-control" id="pricePerHour" placeholder="Rent price per hour">
      </div>
    </div>
  </form> -->
</div>