<div class="col-md-4 pl-20 bicycle-edit-area">
  <form th:action="@{/bicycles-admin/bicycle/add}" th:object="${bicycle}" method="post" enctype="multipart/form-data">
      <h2 id="bicycleNameHeader" th:inline="text"> Item: [[${bicycle.name}]]</h2>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{photo}"/>
    <div class="form-group py-3">
        <img class="img-fluid py-3" id="bicycleImage" th:src="@{/images/bicycles/{photo}(photo=${bicycle.photo})}" alt="No image"/>
      </div>
    <div class="form-group py-3">
      <label for="bicycleImageInput">Upload the item photo</label>
      <input id="bicycleImageInput" class="form-control-file" type="file" name="image" accept="image/jpeg"/>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></div>
    </div>
    <div class="form-group">
      <label for="bicycleName">Name</label>
      <input id="bicycleName" class="form-control" type="text" th:value="${bicycle.name}" th:field="*{name}" placeholder="Enter item name" />
      <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="bicycle-txype-dropdown form-group pt-3">
      <label for="dropdownType">Type of bicycle<br></label>
      <select id="dropdownType" class="main-dd-button" th:field="${bicycle.type}">
        <option th:value="MOUNTAIN">Mountain</option>
        <option th:value="CITY">City</option>
        <option th:value="FOR_KIDS">For kids</option>
      </select>
    </div>
    <div class="form-group pt-3">
      <label for="weight">Weight</label>
      <input id="weight" class="form-control" type="number" th:value="${bicycle.weight}" th:field="*{weight}" placeholder="Weight" />
      <div class="alert alert-warning" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
    </div>
    <div class="form-group pt-3">
      <label for="price">Price</label>
      <input id="price" class="form-control" type="number" th:value="${bicycle.price}" th:field="*{price}" placeholder="Rent price per hour" />
      <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>
    <div class="form-group pt-3">
      <label for="numOfSpeeds">Number of speeds</label>
      <input id="numOfSpeeds" class="form-control" type="number" th:value="${bicycle.numOfSpeeds}" th:field="*{numOfSpeeds}" placeholder="Number of speeds" />
      <div class="alert alert-warning" th:if="${#fields.hasErrors('numOfSpeeds')}" th:errors="*{numOfSpeeds}"></div>
    </div>
    <div class="form-group pt-3">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" th:value="${bicycle.description}" th:field="*{description}" rows="4"></textarea>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>
    <button class="btn btn-success save-button mt-3" type="submit">Save <em class="fas fa-save"></em></button>
    <a th:href="@{/bicycles-admin}" id="cancel" type="cancel" class="btn btn-danger cancel-button mt-3">Cancel</a>
  </form>
</div>