<div class="container details-container">
    <div class="row">
        <div class="col-12">
            <table class="table accessories">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody id="detailsList" th:attr="data-bicycle-id=${bicycle.id}" th:object="${bicycle}">
                </tbody>
            </table>
        </div>
    </div>
</div>