<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Admin page</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"
        type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet"
        type="text/css"/>
  <link rel="icon" href="/img/favicon.png">
</head>
<body>
  <include src="../../common/navigation/navigation-minor.html"/>
  <include src="./sections/admin-buttons.html"/>
  <include src="./sections/details-admin-table.html"/>
  <include src="../../common/footer/footer.html"/>
  <script type="text/javascript"></script>
</body>
</html>
