<div class="container items-container">
    <div class="row">
        <div class="col-12">
            <table class="table bicycles-and-accessories">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Num of speeds</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody id="bicyclesAdminList">
                </tbody>
            </table>
        </div>
    </div>
</div>